.Table {
    /* width: 1800px; */
    /* border-style: var(--Table-border-style);
    border-width: var(--Table-border-width);
    border-color: rgb(218, 217, 217); */

    height: 100%;
    text-align: left;
}

.Columns {
    display: flex;
}