#table1 {
    position: absolute;
    left: 200px;
    top: 300px
}

#table2 {
    position: absolute;
    right: 200px;
    top: 400px
}


#re {
    background-color: gray;
    /*top, right, bottom, left*/
    padding: 20px 200px 20px 200px;
    position: absolute;
    top: 200px;
    left: 200px;
}

#project {
    background-color: gray;
    padding: 20px 200px 20px 200px;
    position: absolute;
    top: 200px;
    right: 200px;
}

#pn {
    background-color: bisque;
    position: absolute;
    left: 200px;
    top: 255px;
    padding: 5px 80px 5px 80px;
}


#pc {
    background-color: bisque;
    position: absolute;
    left: 445px;
    top: 255px;
    padding: 5px 80px 5px 80px;
}

#pro_name {
    background-color: cornflowerblue;
    position: absolute;
    right: 418px;
    top: 255px;
    padding: 5px 70px 5px 70px;
}

#pro_code {
    background-color: cornflowerblue;
    position: absolute;
    right: 200px;
    top: 255px;
    padding: 5px 70px 5px 70px;
}

#project_selection {
    position: absolute;
    right: 50px;
}


#right_arrow {
    position: absolute;
    top: 210px;
    left: 650px;
}

#menu {
    position: absolute;
    top: 210px;
    left: 600px;
}

#trash {
    position: absolute;
    top: 210px;
    right: 170px;

}

#dropdown {
    position: absolute;
    left: 400px;
    top: 200px;
}


#edit_resource {
    color: blue;
    position: absolute;
    left: 180px;
    bottom: 50px;
}
