:root {
    --Cell-padding: 8px 12px 8px 12px;
    --Table-border-style: solid;
    --Table-border-width: 2px;
}

.Container {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.TopBar {
    background-color: rgb(138, 138, 137);
    padding: var(--Cell-padding);
    display: flex;
    justify-content: space-between;
}

.Title {
    font-weight: bolder;
    font-size: 150%;
    margin-left: -100px;
}

.TableContainer {
    width: 100%;
    overflow: scroll;
}

.Button {
    padding: 6px 10px;
    background-color: rgb(196, 80, 38);
    font-size: 17px;
    border: none;
    cursor: pointer;
    border-radius: 20%;
}

.Button:hover,
.Button:focus {
    background-color: rgb(223, 13, 13);
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdownContent {
    /* display: none; */
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    margin-left: -120px;
}

.dropdownContent a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown a:hover {
    background-color: #ddd;
}

.show {
    display: block;
}